{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h1>Hello, {{ user.username }}</h1>
            <p>Below are the categories you have selected</p>
        </div>

    </div>
</div>

 
 <div class="container">
	<form method="post" action="{% url 'editcat' %}">
			{% csrf_token %}
    <div class="row clearfix">
    	<div class="col-md-12 table-responsive">
			<table class="table table-bordered table-hover table-sortable" id="tab_logic">
				<thead>
					<tr >
						<th class="text-center">
							Current Categories
						</th>
						
        				<th class="text-center" style="border-top: 1px solid #ffffff; border-right: 1px solid #ffffff;">
						</th>
					</tr>
				</thead>
				<tbody>

                <!-- row for adding category -->
                    <tr id='addr-1' data-id="-1">
                        <td data-name="cate_name">
                            <input type="text" name='new_cat'  placeholder='Name' class="form-control"/>
                        </td>
                        
                        
    
                    </tr>

                {% for cate in categories %}
    				<tr id="addr"+"{{ forloop.counter }}" data-id= "{{ forloop.counter }}" >
						<td data-name="cate_name">
						    <input type="text" name='current_cate' value="{{ cate }}" class="form-control"/>
						</td>
						
    					
                        <td data-name="del">
                            <button name="delete_cat" type="submit" class='btn btn-danger row-remove'>delete</button>
                        </td>
					</tr>


                {% endfor %}


				</tbody>
			</table>
		</div>
	</div>
	<button id="add_cat" name="add_cat" class="btn btn-default pull-left" type="submit" value="add_cat">Add Category</button>
	</form>
</div>

{% endblock %}

{% block javascript %}

<script>

 $(document).ready(function() {
    $("#new_cate").on("click", function() {
        // Dynamic Rows Code
        
        // Get max row id and set new id
        /**
        var newid = 0;
        $.each($("#tab_logic tr"), function() {
            if (parseInt($(this).data("id")) > newid) {
                newid = parseInt($(this).data("id"));
            }
        });
        newid++;
        
        var tr = $("<tr></tr>", {
            id: "addr"+newid,
            "data-id": newid
        });
        
        // loop through each td and create new elements with name of newid
        $.each($("#tab_logic tbody tr:nth(0) td"), function() {
            var cur_td = $(this);
            
            var children = cur_td.children();
            
            // add new td and element if it has a nane
            if ($(this).data("name") != undefined) {
                var td = $("<td></td>", {
                    "data-name": $(cur_td).data("name")
                });
                
                var c = $(cur_td).find($(children[0]).prop('tagName')).clone().val("");
                c.attr("name", $(cur_td).data("name") + newid);
                c.appendTo($(td));
                td.appendTo($(tr));
            } else {
                var td = $("<td></td>", {
                    'text': $('#tab_logic tr').length
                }).appendTo($(tr));
            }
        });
        
      
        
        // add the new row
        $(tr).appendTo($('#tab_logic'));    **/
        
        $(tr).find("td button.row-remove").on("click", function() {
             $(this).closest("tr").remove();
        });
});



    //$("#new_cat").trigger("click");
});
</script>
{% endblock %}

