{% extends 'base.html' %}

{% block content %}
        <div class="page-header">
            <h1><a href="{% url 'sections' %}">Recent news</a></h1>
        </div>
<ul class="breadcrumb">
        {% for section in sections %}
        {% ifequal section section_name %}
            <li class="active">
                {{section_name}}
            </li>
        {% endifequal %}
        {% ifnotequal section section_name %}
            <li><a href="{% url 'posts' section %}">{{section}}</a></li>
        {% endifnotequal %}
        {% endfor %}
</ul>


<div class="content container" >
{% include page_template %}
</div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{ STATIC_URL }}el-pagination/js/el-pagination.js"></script>
    <script>
        $.endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollMargin: 5
        });
    </script>
{% endblock %}