{% extends 'base.html' %}

{% block content %}
        <div class="page-header">
            <h1><a href="{% url 'sections' %}">Recent <em>{{ section_name }}</em> news</h1>
        </div>


<div class="content container" >
    <div class="row">
        <div class="col-md-8">
{% include page_template %}
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{ STATIC_URL }}el-pagination/js/el-pagination.js"></script>
    <script>
        $.endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollMargin: 200
        });
    </script>
{% endblock %}