{% load el_pagination_tags %}
<script src="http://platform.twitter.com/widgets.js" charset="utf-8"></script>
<div class="col-md-12">
{% paginate 10 posts %}

    {% for post in posts %}
    <div class="row post">

		<div >
		    <div class="date">
		    	<p>published: {{ post.pub_time }}</p>
		    </div>
		    <h1><a href="{{ post.post_url }}">{{ post.title }}</a></h1>
		    <div class="row" style="height: 300px;overflow: hidden;">
				{% if post.img|length > 0 %}
				<div class="col-md-4">
					<img src="{{post.img}}" style="width:100%;height:100%;object-fit:contain;"/>
				</div>
				{% endif %}
		    	<p>{{ post.text|linebreaksbr }}</p>
		    </div>
		</div>
    </div>

    <div class="row tweets">
    	
    	<div class = "row" style="height: 300px;overflow: hidden;">
    		{% for tweet in post.tweets %}
    		<div class="col-md-3">
    			<blockquote class="twitter-tweet"><p>{{tweet|linebreaksbr}}</p> </blockquote>
    		</div>

    		{% empty%}
    			<div class="col-md-3">
    				<p>blablabla</p>
    			</div>

    		{% endfor%}
    	</div>

    </div>

    {% empty %}
        <div class="jumbotron">
            <h1>Oops No news for this category</h1>
        </div>
    {% endfor %}

{% show_more %}

</div>
